## Bagian 1

In [25]:
umur = 3
nilai = 3.5
nama = '12134321'
hadir = False
kosong = None
listt = []
tuplee = ()

In [26]:
print (type(nama))

<class 'str'>

In [27]:
nilai2 = str(umur)

In [28]:
print(nama, nilai)

12134321 3.5

In [29]:
print(type(nilai2))

<class 'str'>

In [30]:
nama2 = int(nama)

In [20]:
print(type(nama))
print(type(nama2))

<class 'str'>
<class 'int'>

## Bagian 2 Operasional

In [62]:
number1 = 17
number2 = 5

In [63]:
result = number1 * number2
print(result)

85

In [64]:
if number1 != number2:     # ==, <=, >=, !=
    print ("ya")
else:
    print("no")

ya

In [65]:
name = "Python"
iss = " adalah "
snake = "ular"

final = name + iss + snake
final2 = name * 20
nimname = "122400080 cleo patricia"
print(final)
print(final2)

Python adalah ular
PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [66]:
print(name[-1])

n

In [67]:
print(name[0:3])
print(name[0:-2])
print(final[7:14])
print(nimname[0:9])
print(nimname[10:])

Pyt
Pyth
adalah
122400080
cleo patricia

In [9]:
umur = 3
nilai = 3.5
nama = 'thoooo'
hadir = False
kosong = None

In [14]:
list1 = [nama, 20, 30, 40, 50]

In [15]:
print(type(list1))

<class 'list'>

In [16]:
print(list1[:2])

['thoooo', 20]

In [24]:
print(list1[0][0])
print(list1[0][0:4])

t
thoo

In [25]:
nama = "blas "

In [26]:
print("asdasd"*5)

asdasdasdasdasdasdasdasdasdasd

In [27]:
print((list1)*4)

['thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50, 'thoooo', 20, 30, 40, 50]

In [28]:
print(len(list1))
print(len(list1*5))

5
25

In [48]:
list1 = [45, 20, 10, 40, 50, 100]

In [51]:
list1.append(90.5)
print(list1)

[45, 20, 10, 40, 50, 100, 90.5]

In [52]:
list1.insert(3, 30)
print(list1)

[45, 20, 10, 30, 40, 50, 100, 90.5]

In [53]:
list1.remove(30)
print(list1)

[45, 20, 10, 40, 50, 100, 90.5]

In [55]:
list1.sort()
print(list1)

[10, 20, 40, 45, 50, 90.5, 100]

In [57]:
mean = sum (list1)/len(list1)
print("so, the total mean is = ", mean, "value")

so, the total mean is =  50.785714285714285 value

In [58]:
print(type(mean))

<class 'float'>

## Tugas Mandiri

In [77]:
nama_mahasiswa = ["Dina", "Budi", "Santi", "Andi", "Citra", "Vany", "Nanda", "Raka", "Galang", "Fahri"]

In [78]:
print("List Mahasiswa: \n", nama_mahasiswa)
print("Jumlah Mahasiswa: ", len(nama_mahasiswa))

List Mahasiswa:
 ['Dina', 'Budi', 'Santi', 'Andi', 'Citra', 'Vany', 'Nanda', 'Raka', 'Galang', 'Fahri']
Jumlah Mahasiswa:  10

In [79]:
nama_mahasiswa.append("Evan")
print(nama_mahasiswa)

['Dina', 'Budi', 'Santi', 'Andi', 'Citra', 'Vany', 'Nanda', 'Raka', 'Galang', 'Fahri', 'Evan']

In [80]:
nama_mahasiswa.sort()
print("List Mahasiswa Setelah Diurutkan: \n", nama_mahasiswa)

List Mahasiswa Setelah Diurutkan:
 ['Andi', 'Budi', 'Citra', 'Dina', 'Evan', 'Fahri', 'Galang', 'Nanda', 'Raka', 'Santi', 'Vany']

## Enkapsulasi (Encapsulation)

In [11]:
class AkunBank:
    def __init__(self,saldo):
        self.__saldo = saldo # atribut private
        self.nilai = 10
    def lihat_saldo(self):
        return self.__saldo

    def setor(self, jumlah):
        self.__saldo += jumlah
        
    def tarik(self, jumlah):
        self.__saldo -= jumlah

In [13]:
bank = AkunBank(50)
print(bank.lihat_saldo())
setor_lagi = bank.setor(80)
print(bank.lihat_saldo())
bank.tarik(80)
print(bank.lihat_saldo())

50
130
50

## Abstraksi (Abstraction)

In [10]:
# class abstrak
class Bentuk(ABC):
    @abstractmethod
    def luas(self):
        pass

# class turunan konkret
class Persegi(Bentuk):
        def __init__(self, sisi):
            self.sisi = sisi
        
        def luas(self):
            return self.sisi * self.sisi

# --- Program Utama ---
# # Membuat objek persegi (karena bentuk tidak bisa dibuat objek langsung)
p = Persegi(5)
print("Luas Persegi: ", p.luas())

Luas Persegi:  25

## Inheritance (Pewarisan)

In [15]:
class Manusia:
    def __init__(self, nama): #method
        self.nama = nama #class

class Mahasiswa(Manusia):
    def __init__(self, nama, nim):
        super().__init__(nama)
        self.nim = nim

    def nama_nim(self):
        return self.nama, self.nim

manusia2 = Manusia("Agung")
mahasiswa2 = Mahasiswa("lala", "122400080")
print(mahasiswa2.nama_nim())

('lala', '122400080')

## Polimorfisme (Polyphism)

In [1]:
class Hewan:
    def suara(self):
        pass 

class Kucing(Hewan):
    def suara(self):
        return "Meong"

class Anjing(Hewan):
    def suara(self):
        return "Guk guk"

kci = Kucing()
print(kci.suara())

anj = Anjing()
print(anj.suara())

Meong
Guk guk

## For Looping

In [ ]:
for x in range(6):
  print(x)
    
for x in range(2, 6):
  print("\n", x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

## While Looping

In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [2]:
i = 1
while i < 6:
  print("Count: ", i)
  if i == 3:
    break
  i += 1

Count:  1
Count:  2
Count:  3

In [3]:
# While Loop

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

## Nested Loops

In [4]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Percabangan (If Statement)

In [5]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [6]:
number = 15
if number > 0:
  print("Berupa angka positif")

Berupa angka positif

In [7]:
age = 20
if age >= 18:
  print("Kamu adalah orang dewasa")
  print("Kamu bisa vote")
  print("Kamu memiliki hak hukum penuh")

Kamu adalah orang dewasa
Kamu bisa vote
Kamu memiliki hak hukum penuh

In [8]:
is_logged_in = True
if is_logged_in:
  print("Selamat datang!")

Selamat datang!

## Percabangan (Elif Statement)

In [9]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [10]:
score = 75

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

Grade: C

In [11]:
age = 25

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 65:
  print("You are an adult")
elif age >= 65:
  print("You are a senior")

You are an adult

In [12]:
day = 3

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

Wednesday

In [13]:
umur = 15
status = "aktif"
if umur > 17 or status == "aktif": #or, and
    print("Valid")
    krs = "open"
else:
    print("tidak valid")
    krs = "close"

Valid

## Percabangan (Else Statement)

In [14]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [15]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [16]:
number = 7

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

In [17]:
temperature = 22

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

It's warm outside

In [18]:
username = "Emil"

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

Welcome, Emil!

In [19]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [20]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

In [21]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [22]:
x = 15
y = 20
max_value = x if x > y else y
print("Maximum value:", max_value)

Maximum value: 20

In [23]:
username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

Welcome, Guest

In [24]:
age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

In [25]:
value = 50

if value < 0:
  print("Negative value")
elif value == 0:
  pass # Zero case - no action needed
else:
  print("Positive value")

Positive value

## Percabangan (Nested If Statements)

In [26]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [27]:
age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You can drive

In [28]:
score = 85
attendance = 90
submitted = True

if score >= 60:
  if attendance >= 80:
    if submitted:
      print("Pass with good standing")
    else:
      print("Pass but missing assignment")
  else:
    print("Pass but low attendance")
else:
  print("Fail")

Pass with good standing

In [29]:
username = "Emil"
password = "python123"
is_active = True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("Password required")
else:
  print("Username required")

Login successful

In [30]:
score = 92
extra_credit = 5

if score >= 90:
  if extra_credit > 0:
    print("A+ grade")
  else:
    print("A grade")
elif score >= 80:
  print("B grade")
else:
  print("C grade or below")

A+ grade

## Library Python

In [31]:
import datetime

waktu_sekarang = datetime.datetime.now()
print("Waktu sekarang:", waktu_sekarang)

Waktu sekarang: 2025-11-26 08:30:33.145796

In [32]:
import math

angka = 25
akar_kuadrat = math.sqrt(angka)
print("Akar kuadrat dari", angka, "adalah", akar_kuadrat)

Akar kuadrat dari 25 adalah 5.0

In [33]:
import random

angka_acak = random.randint(1, 100)
print("Angka acak antara 1 sampai 100:", angka_acak)

Angka acak antara 1 sampai 100: 35

In [34]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
rata_rata = np.mean(arr)
print("Array:", arr)
print("Rata-rata:", rata_rata)

ModuleNotFoundError: No module named 'numpy'

In [37]:
import pandas as pd

data = {'Nama': ['Alice', 'Bob', 'Charlie'], 'Usia': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

ModuleNotFoundError: No module named 'pandas'

In [36]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]
plt.plot(x, y)
plt.title("Grafik Sederhana")
plt.xlabel("X")
plt.ylabel("Y")
plt.show()

ModuleNotFoundError: No module named 'matplotlib'